p
{
    background-color: rgb(159, 229, 205);
}

a
{
    background-color: bisque;
}

div
{
    background-color: rgb(175, 101, 244);
}

span
{
    background-color: rgb(234, 202, 122);
}
